@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&family=Playfair+Display:wght@900&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

@import "~bootstrap/scss/bootstrap";
 @import: "scss/_site.scss";
